.road-map {
  padding: 0 20px;
  /* height: 120vh; */
}
.road-map h1 {
  margin-top: 20vh;
  color: white;
}
.road-map-1st-p,
.road-map-2nd-p {
  width: 300px;
  margin-top: -20%;
  text-align: left;
  color: #ffccff;
}
.road-map-2nd-p {
  margin-top: 2%;
  margin-left: 3vw;
}
.road-map-p {
  display: flex;
  align-items: flex-end;
}
.map img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 450px) {
  .road-map-p {
    flex-direction: column;
    align-items: unset;
    margin-top: 7vh;
  }
}
