.home {
  background-color: black;
}

.second-background {
  background-image: url("../../assets/images/Neon Dancefloor.png");

  background-size: cover;
  background-repeat: no-repeat;
  height: 85vh;
  background-position: top left;
  left: 0;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.second-background h1 {
  position: relative;
  color: #ffccff;
  width: 47%;
  line-height: 150%;
  font-size: 36px;
  font-weight: 500;
}
.about {
  color: #ffccff;

  width: 1140px;
  text-align: left;
  margin-top: -10vh;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
}
.about h4 {
  text-align: center;
  font-family: "60s\ Pop.ttf";
  font-weight: 400;
  font-size: 36px;
}
.about p {
  font-size: 28px;
  line-height: 180%;
  color: #ffccff;
}
.mint-component {
  color: white;
  margin-top: 20vh;
}
.mint-component h1,
.mint-component h2 {
  color: white;
  font-family: "60s\ Pop.ttf";
  font-size: 36px;
  padding-bottom: 5vh;
  font-weight: 400;
  margin-bottom: 1vh;
}
.mint-component h2 {
  font-size: 40px;
  margin-top: 8vh;
  margin-right: auto;
  padding: 10px 20px;
  border-radius: 10px;
  margin-left: auto;
  width: fit-content;
  text-transform: capitalize !important;
  background-color: #fc27fc50;
  padding-bottom: 0vh;
}
.mint-component h2:hover {
  background-color: #fc27fc91;
  cursor: pointer;
}
.mint-component p {
  font-size: 18px;
  margin: 0;
  color: #ffccff;
}
.how-to-buy {
  margin-top: 20vh;
}
.how-to-buy h1 {
  font-weight: 400;
  font-family: "60s\ Pop.ttf";
  color: #ffccff;
  font-size: 36px;
}
.background-buy {
  background-image: url("/src/assets/images/buyBanner.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  height: 70vh;
  display: flex;
  flex-direction: column;
  background-color: black;
  justify-content: center;
}
@media screen and (max-width: 1600px) {
  .background-buy {
    height: 50vh;
  }
  .first-background,
  .second-background {
    height: 70vh;
  }
}
@media screen and (max-width: 1200px) {
  .about {
    width: 90%;
  }
  .background-buy {
    height: 40vh;
  }
  .first-background {
    height: 60vh;
  }
}
@media screen and (max-width: 990px) {
  .background-buy {
    height: 30vh;
  }
  .first-background,
  .second-background {
    height: 45vh;
  }
  .second-background h1 {
    font-size: 24px;
    width: 70%;
  }
  .about p {
    font-size: 24px;
  }
}
@media screen and (max-width: 600px) {
  .background-buy {
    background-size: 100% 100%;
    height: 40vh;
  }
  .first-background,
  .second-background {
    height: 40vh;
    background-size: 100% 100%;
  }
  .second-background h1 {
    font-size: 18px;
    width: 90%;
  }
  .about p {
    font-size: 18px;
  }
}
