.team-container {
  margin-top: 20vh;
}
.team-container h1 {
  color: white;
}
.team-members {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
}
.team-members a {
  text-decoration: none;
  color: white;
}
.team-members p {
  color: white;
  font-size: 26px;
  width: 240px;
  margin: 0 auto;
  /* margin: 0 auto; */
}
.each-member img {
  width: 78.5%;
  height: 81%;
  margin-left: -0.4%;
  margin-top: -0.3%;
}
.each-member {
  width: 350px;
  height: 350px;
  margin: 5vh 2vw;
}
.member-frame {
  background-image: url("../../assets/images/memberFrame.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 350px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-position: center center;
  left: 0;
  z-index: -1;
}
@media screen and (max-width: 768px) {
  .each-member {
    width: 600px;
    height: 600px;
  }
  .member-frame {
    width: 600px;
    height: 600px;
  }
}
@media screen and (max-width: 600px) {
  .each-member {
    width: 450px;
    height: 450px;
  }
  .member-frame {
    width: 450px;
    height: 450px;
  }
}
@media screen and (max-width: 500px) {
  .each-member {
    width: 350px;
    height: 350px;
  }
  .member-frame {
    width: 350px;
    height: 350px;
  }
}
